.wa_tab_menu .wa_fix_big_table_home .wa_tab_respo{display: none;}

.wa_menu_respon{display: none;}

.hvr-hollow
{
	background-color: #4e4ebc;
	box-shadow: inset 0 0 0 4px #4e4ebc;
}

.wa_catetogary_feedback
{
	width: 180px;
	height: 180px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 180px;
	_padding-top: 30%;
	color: #ffffff;
}
.wa_catetogary_feedback h4{
	display: inline-block;
	  vertical-align: middle;

	  line-height: normal
}
.wa_catetogary_feedback>img{display: none;}
.wa_catetogary_feedback:hover>img { display: block; margin-top: 30%;}
.wa_catetogary_feedback:hover>h4 { display: none; }

.wa_iframe_content_job{
	border: 1px solid #4e4ebc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.wa_wrap_wa_iframe_content_job{padding: 0px;}

.wa_result_mobile{display: none;}
.wa_result_desktop{display: block;}



.wa_wrap_tab_menu
{
	background-color: #f8f8f8;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	border: none;
}
.nav-tabs>li>a
{
	margin-right: 0px;
}

.wa_fix_panel
{
	border: 1px solid #4e4ebc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 30px;
}

.wa_fix_panel .panel-heading
{
	background-color: #4e4ebc;
	color: #ffffff;
}
.wa_fix_panel .btn-lg
{
	border: 1px solid #4e4ebc;
	background-color: #ffffff;
	text-transform: uppercase;
	color: #4e4ebc;
	font-weight: bold;
}

#login-vnw {
  margin-left: 17.2%;
  margin-right: 5px;
  padding: 10px 0 10px 5px;
  background: #ddd;
  position: relative;
}

@media screen and (max-width: 750px	){
	.wa_menu_respon{display: block; margin-bottom: 0px;}
	.wa_menu_desktop{display: none;}
		.wa_menu_respon .img-responsive{height: 100%;}
		.wa_menu_respon .navbar-brand{height: 65px;}

		.wa_author_block .wa_box_author img{display: inline-block;}

	.wa_wrap_search .col-md-6,.wa_wrap_search .col-md-3{padding: 0px; margin-bottom: 20px;}
	.wa_wrap_search .col-md-2{padding: 15px;}

	.wa_tab_menu{padding-right: 15px;}
	.wa_tab_menu .wa_fix_big_table_home h3{display: none;}
	.wa_tab_menu .wa_fix_big_table_home .wa_tab_respo{display: inline-block;}

	.wa_tab_menu .wa_content_tab .wa_info{padding-left: 0px; margin-top: 10px; }
		.wa_content_tab .row .col-md-8 .wa_info{padding-right: 0px;}
	.wa_tab_menu .wa_content_tab .col-md-2{text-align: left; padding-left: 15px;}

	.wa_hide_footer_respo{display: none;}

	.wa_wrap_banner{display: none;}

	.wa_block_result_search>.row{padding-right: 15px;}


	.wa_result_mobile{display: block;}
	.wa_result_desktop{display: none;}

}



@media screen and (max-width: 335px){
	.wa_menu_respon{display: block; margin-bottom: 0px;}
	.wa_menu_desktop{display: none;}
		.wa_menu_respon .img-responsive{height: 100%;}
		.wa_menu_respon .navbar-brand{height: 65px;}

	.wa_wrap_search .col-md-6,.wa_wrap_search .col-md-3{padding: 0px; margin-bottom: 20px;}
	.wa_wrap_search .col-md-2{padding: 15px;}

	.wa_tab_menu{padding-right: 15px;}
	.wa_tab_menu .wa_fix_big_table_home h3{display: none;}
	.wa_tab_menu .wa_fix_big_table_home .wa_tab_respo{display: inline-block;}

	.wa_tab_menu .wa_content_tab .wa_info{padding-left: 0px; margin-top: 10px; }
		.wa_content_tab .row .col-md-8 .wa_info{padding-right: 0px;}
	.wa_tab_menu .wa_content_tab .col-md-2{text-align: left; padding-left: 15px;}

	.wa_hide_footer_respo{display: none;}

	.wa_wrap_banner{display: none;}

	.wa_block_result_search>.row{padding-right: 15px;}


	.wa_result_mobile{display: block;}
	.wa_result_desktop{display: none;}

}