.div_avatar{
	height: 210px;
	width: 210px;
	display: inline-block;
}
.div_avatar .img_avatar{
	border: 1px solid #ccc;
	height: 200px;
	width: 200px;
}
#create_au{
	margin:0 20px 20px;
}
.searh{
	width: 70%;
	float: left;
}
.div_searh{
	display: inline-flex;
	width: 35%;
	/*	float: left;*/
}
.btn_searh{
	float: left;
	display: inline;
	margin-left: 20px;
}
.author{
	width: 40%;
}
.in_searh_acticle,.in_searh_acticle_up{
	width: 30%;
	margin-bottom: 20px;
	display: inline-block;
	float: left;
}
.alert{
	width: 31%;
	float: left;
	margin-right: 20px;
}
.note{
	margin-left: 20px;
}
.div_contaner2{
	margin-top: 40px;
}
.form_search{
	width: 100%;
}
#seard_au{
	float: left;
}
.div_comment{
	min-height: 200px;
	min-width: 200px;
	border:1px solid #ccc;
}
.fa-thumbs-o-up{
	padding-left: 10px;
	padding-right: 10px;
}
.fa-thumbs-o-up span{
	padding-left: 5px;
}

.div_list_img{
	min-height: 420px;
}
.div_in_banner{
	margin: 20px 0px 20px 0px;
}
.da_image img{
	width: 200px;
	height: 200px;
}
.img_avatar_ar{
	width: 320px;
	height: 260px;;
}

